*{
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.para{
    font-family:'Times New Roman';
    font-size: larger;
}

img{
    height: 250px;
    width: 350px;
    border: 0 solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 3rem;
    place-items: center;
}

.division{
    height: 500px;
    border: 1px solid rgb(188, 186, 186);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.div1{
    display: flex;
    justify-content: space-around;
}

button{
    height: 30px;
}

#img{
    height: 60px;
    width: 50px;
    border: 1px solid rgb(143, 128, 128);
    border-radius: 20px;
    padding: 0;
}

.date{
    margin: 2px;
}

.div2{
    margin-top: 12px;
}

button{
    margin-top: 15px;
}
